body {
    margin: 0; 
    padding: 0; 
    border: none; 
}

header {
    background-color: rgb(100, 234, 198);
    padding: 20px;
    margin:0;
    text-align: center;
    border: none;
}

#titulo {
    color: #333;
    margin: 0;
}

#btnReserva{
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#btnReserva:hover{
    background-color: #555;
}

main{
    background-color: rgba(100, 234, 198, 0.188);
}

#descripcion1, #descripcion2{
    color: #333;
    margin: 0;
    padding: 10px;
    border: none;
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#mapa {
    display: block; 
    margin-left: auto; /* Centra horizontalmente la imagen */
    margin-right: auto; /* Centra horizontalmente la imagen */
    width: 85%; 
    height: auto; 
}

#tituloDestinos{
    text-align: center;
    color: #333;
    padding-top: 25px;
    border: none;
    margin: none;
    font-family: Arial, sans-serif;
}

#info{
    color: #333;
    margin: none;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.fotoCiudad{
    width: 50%;
    height: 50%;
}

table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    text-align: center; /* Centra el texto dentro de las celdas */
}

table > th,
table > td {
    padding: 10px; /* Añade espaciado interno a las celdas */
    border: 1px solid #ccc; /* Añade bordes a las celdas */
}

footer{
    background-color: rgb(100, 234, 198);
    height: 50px
}

footer > p{
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0; 
    padding-top: 10px; 
    border: none;
}



